---
import "../../styles/global.css";
---
<!-- Decorative background glows -->
<div aria-hidden="true" class="pointer-events-none fixed inset-0 -z-10 overflow-hidden">
  <div class="absolute -top-24 -left-24 h-96 w-96 rounded-full bg-[#ed3b26]/10 blur-3xl"></div>
  <div class="absolute -bottom-24 -right-24 h-[28rem] w-[28rem] rounded-full bg-[#ed3b26]/10 blur-3xl"></div>

</div>
